<EditForm Model="@Todo" OnValidSubmit="SaveTodo">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label for="name">Name:</label>
    <InputTextArea id="name" rows=4 class="form-control mb-3" @bind-Value="Todo.Name"/>
    <label for="description">Description:</label>
    <InputTextArea id="description" rows="5" class="form-control mb-3" @bind-Value="Todo.Notes" />
    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
    <button class="btn btn-success" @onclick="SaveTodo">Save</button>
</EditForm>

@code {
    [Parameter]
    public TodoItem Todo { get; set; } = new();
    [Parameter]
    public EventCallback<TodoItem> OnSave { get; set; }
    [Parameter]
    public EventCallback OnCancel { get; set; }

    private void SaveTodo()
    {
        OnSave.InvokeAsync(Todo);
        Todo = new();
    }

    private void Cancel()
    {
        OnCancel.InvokeAsync();
        Todo = new();   
    }
}
