@typeparam TItem

<Table Striped>
    <TableHeader>
        @TableHeading
    </TableHeader>
    <TableBody>
        @foreach (TItem item in Items)
        {
            @TableBody(item)
        }
    </TableBody>
</Table>

@code {
    [Parameter]
    public RenderFragment TableHeading { get; set; } = default!;

    [Parameter]
    public RenderFragment<TItem> TableBody { get; set; } = default!;

    [Parameter]
    public IEnumerable<TItem> Items { get; set; } = new List<TItem>();
}