@inject TodoService todoService

<tr>
    <td>
        <div>
            <div>
                <input @key="Todo.Id"
                       type="checkbox" 
                       checked="@Todo.IsComplete"
                       @onchange="() => todoService.ToggleComplete(Todo)" />
            </div>
        </div>
    </td>
    <td>
        <div>
            @Todo.Name
        </div>
    </td>
    <td>
        <div>
            @Todo.CreateDate
        </div>
    </td>
    @if (ShowCompleteDate)
    {
        <td>
            <div>
                @Todo.CompleteDate
            </div>
        </td>
    }
    <td>
        <button class="btn btn-danger" @onclick="() => todoService.DeleteTodo(Todo)">
            <span>
                <icon class="oi oi-trash"/>
            </span>
        </button>
    </td>
</tr>

@code {
    [Parameter]
    public TodoItemDto Todo { get; set; }
    [Parameter]
    public bool ShowCompleteDate { get; set; } = false;

    protected override void OnInitialized()
    {
        todoService.OnChange += StateHasChanged;
    }
}